.File img {
  max-width: 100%;
  display: block;
}

.File video {
  max-width: 100%;
  display: block;
}

.File audio {
  display: block;
  width: 100%;
}

.File .delete-file {
  margin: 10px 0 0 0;
}
