* {
  word-break: break-word;
}

html, body, #root {
  height: 100%;
}

button {
  cursor: pointer;
}

.grid-box {
  background: #efefef;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  height: fit-content;
  width: 200px;
  height: 200px;
  overflow: scroll;
}

.grid-box h1 {
  margin: 0;
}

.subtext {
  font-style: italic;
  color: gray;
}
