.FileInput .upload-file {
  margin-top: 20px;
  display: flex;
}

.FileInput .file-input {
  flex-grow: 1;
  background: #fff;
  border-radius: 2px;
  border: 1px solid rgb(118, 118, 118);
  cursor: pointer;
  padding: 6px;
}

.FileInput .new-folder {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.FileInput .folder-input {
  flex-grow: 1;
}
